@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #101114;
}

@layer utilities {
  .left_sidebar {
    @apply flex flex-col sticky left-0 top-0 w-fit justify-between border-none bg-black-1 pt-8 text-white-1 max-md:hidden lg:w-[270px] lg:pl-8;
  }

  .text-24 {
    @apply text-[24px] leading-normal;
  }

  .text-16 {
    @apply text-[16px] leading-normal;
  }
}
